{%extends 'default.html'%}

{% load custom_filters %}
{% load cache %}

{%block title%}Список всех новостей{%endblock%}

{%block content%}
{% cache 30 header %}
<p>Сегодня у нас {{ all_news|length }} новостей</p>
<h4><a href="{% url 'создание новости' %}">Опубликовать новость.</a> |
    <a href="{% url 'создание статьи' %}">Опубликовать статью.</a></h4>
{% endcache %}
{% if all_news %}
<table>
    <tr>
        <td><b>Категория</b></td>
        <td><b>Тематика</b></td>
        <td><h3>Автор</h3></td>
        <td><h2>Заголовок</h2></td>
        <td><b>Дата публикации</b></td>
        <td><h3>Начало статьи</h3></td>
    </tr>
    {% for news in all_news %}
    <tr>
        <td>{{ news.category_type }}</td>
        <td>
            {% for topic in news.post_category.all %}
            <a href="{% url 'товары по категории' topic.id %}">{{ topic }}</a>
            {% endfor %}
        </td>
        <td>{{ news.author }}</td>
        <td>
            <a href="{% url 'вывод отдельного поста' news.id %}">{{ news.title|censor }}</a> (
            <a href="{% url 'редактирование новости' news.id %}"><u>Редактировать</u></a> /
            <a href="{% url 'удаление новости' news.id %}"><u>Удалить</u></a>)
        </td>
        <td>{{ news.date_creation|date:'M d Y' }}</td>
        <td>{{ news.text|censor|truncatewords:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{%endif%}

{# пагинация #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{%endblock%}
