{%extends 'default.html'%}

{% load custom_filters %}

{%block title%}Список всех новостей{%endblock%}

{%block content%}
<h1>Сегодня у нас {{ all_news|length }} новостей</h1>
{% if all_news %}
<table>
    <tr>
        <td><b>новость / статья</b></td>
        <td><h3>Автор</h3></td>
        <td><h2>Заголовок</h2></td>
        <td><b>дата публикации</b></td>
        <td><h3>начало статьи</h3></td>
    </tr>
    {% for news in all_news %}
    <tr>
        <td>{{ news.category_type }}</td>
        <td>{{ news.author }}</td>
        <td>{{ news.title|censor }}</td>
        <td>{{ news.date_creation|date:'M d Y' }}</td>
        <td>{{ news.text|censor|truncatewords:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{%endif%}

{# пагинация #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{%endblock%}
