{%extends 'default.html'%}

{% load custom_filters %}
{% load i18n %}

{%block title%}{{ by_category }}{%endblock%}

{%block content%}
<h1>{% trans "Сообщения на тему" %} {{ by_category }}</h1>

{% if is_not_subscriber %}
<p><a href="{% url 'подписка на категорию' by_category.id %}">{% trans "Подписаться на эту тематику" %}</a></p>
{% else %}
<p><a href="{% url 'отписаться от категории' by_category.id %}">{% trans "Отписаться от этой тематики" %}</a></p>
{% endif %}

{% if list_by_category %}
<table>
    <tr>
        <td><b>{% trans "Категория" %}</b></td>
        <td><b>{% trans "Тематика" %}</b></td>
        <td><h3>{% trans "Автор" %}</h3></td>
        <td><h2>{% trans "Заголовок" %}</h2></td>
        <td><b>{% trans "Дата публикации" %}</b></td>
        <td><h3>{% trans "Начало статьи" %}</h3></td>
    </tr>
    {% for news in list_by_category %}
    <tr>
        <td>{{ news.category_type }}</td>
        <td>
            {% for topic in news.post_category.all %}
            <a href="{% url 'товары по категории' topic.id %}">{{ topic }}</a>
            {% endfor %}
        </td>
        <td>{{ news.author }}</td>
        <td>
            <a href="{% url 'вывод отдельного поста' news.id %}">{{ news.title|censor }}</a> (
            <a href="{% url 'редактирование новости' news.id %}"><u>{% trans "Редактировать" %}</u></a> /
            <a href="{% url 'удаление новости' news.id %}"><u>{% trans "Удалить" %}</u></a>)
        </td>
        <td>{{ news.date_creation|date:'M d Y' }}</td>
        <td>{{ news.text|censor|truncatewords:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>{% trans "Новостей нет" %}!</h2>
{%endif%}

{# пагинация #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

<h1><a href="/news/">{% trans "Все новости" %}</a></h1>
{%endblock%}
