{%extends 'default.html'%}

{% load custom_filters %}
{% load i18n %}

{%block title%}{% trans "Поиск по новостям" %}{%endblock%}

{%block content%}

<form action="" method="get">
    {{ filterset.form.as_p }}
    {% trans "Найти" as search_button %}
    <input type="submit" value="{{search_button}}"/>
</form>

<hr>

{% if search_news %}
<table>
    <tr>
        <td>{% trans "Заголовок" %}</td>
        <td>{% trans "Дата публикации" %}</td>
        <td>{% trans "Начало статьи" %}</td>
    </tr>
    {% for news in search_news %}
    <tr>
        <td>{{ news.title|censor }}</td>
        <td>{{ news.date_creation|date:'M d Y' }}</td>
        <td>{{ news.text|censor|truncatewords:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>{% trans "Новостей нет" %}!</h2>
{%endif%}

{# пагинация #}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{%endblock%}
