{%extends 'default.html'%}

{% load custom_filters %}

{%block title%}Новость{%endblock%}

{%block content%}
<h3><sup>Автор статьи:</sup> {{specific_news.author.author_user}}</h3>
<h1>{{ specific_news.title|censor }}</h1>
<h6>{{ specific_news.date_creation|date:'d.m.Y' }}</h6>
<p>{{ specific_news.text|censor }}</p>
<h4>рейтинг - {{.rating}}</h4>

<a href="{% url 'редактирование новости' specific_news.id %}"><button>Редактировать</button></a>
<a href="{% url 'удаление новости' specific_news.id %}"><button>Удалить</button></a>
<h1><a href="/news/">Все новости</a></h1>

{%endblock%}
