{% extends 'basic.html' %}


{% block title %}
{{publication.title|safe}}
{% endblock title %}
{% block menus %}{% endblock %}
{% block message %}{% endblock %}

{% block content %}
<h1>{{publication.title|safe}}</h1>
{{publication.content|safe}}
<h6>
    № {{publication.id}}
    | {{publication.user}}
    | {{publication.create_time|date:'d M Y'}}
    | {{publication.category}}
    {%if publication.user == user%}
    | <a href="{%url 'изменить публикацию' publication.id %}">изменить</a>
    {%endif%}
</h6>
<hr>
<ul>
    {% for response in responses %}
    <li>
        <strong>{{response.user}}</strong>:
        {{response.content}} ->
        <small>{{response.create_time}}</small>
        <hr>
    </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
<p>Оставить отклик от имени: <strong>{{user}}</strong></p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><small>Ваш отклик появится когда автор публикации его подтвердит</small></p>
    <input type="submit" value="Добавить отклик"/>
</form>
{% endif %}
{% endblock content %}
