{% extends 'basic.html' %}

{% block title %}
Список всех объявлений
{% endblock title %}
{% block menus %}{% endblock %}
{% block message %}{% endblock %}

{% block content %}
{% if publications %}
{% for publication in publications %}
<hr>
<h1><a href="/{{publication.id}}/">{{publication.title|upper}}</a></h1>
{{publication.content|safe}}
<h6>№ {{publication.id}} |
    Автор: {{publication.user}} |
    Дата создания: {{publication.create_time|date:'d M Y'}} |
    Категория: {{publication.category}}</h6>
<hr>
{% endfor %}
{% else %}
<h2>Объявлений нет!</h2>
{% endif %}
{% endblock content %}
