{% extends 'basic.html' %}


{% block title %}
{{publication.title|safe}}
{% endblock title %}
{% block menus %}{% endblock %}
{% block message %}{% endblock %}

{% block content %}
<h1>{{publication.title|safe}}</h1>
{{publication.content|safe}}
<h6>
    № {{publication.id}}
    | {{publication.user}}
    | {{publication.create_time|date:'d M Y'}}
    | {{publication.category}}
    {%if publication.user == user%}
    | <a href="{%url 'изменить публикацию' publication.id %}">изменить</a>
    {%endif%}
</h6>
{{user}}
<p>тут должен быть список всех принятых откликов</p>
{% if user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить отклик"/>
</form>
{% endif %}
{% endblock content %}
