{% extends 'basic.html' %}

{% block title %}
Мои отклики
{% endblock title %}
{% block menus %}{% endblock %}
{% block message %}{% endblock %}

{% block content %}
<br>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="выбрать публикацию"/>
</form>

{% if responses %}
{% for response in responses %}
<hr>
отклик от пользователя <strong>{{response.user}}</strong>:
<p>{{response.content}}</p>
<p>
    {% if response.status is not True %}
    этот отклик не принят Вами
    <button><a href="{%url 'принять отклик' response.id %}">Принять отклик</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}
    кнопка "удалить отклик"
    {{response.status}}
</p>
{% endfor %}
{% else %}
<h3>на эту публикацию нет откликов</h3>
{% endif %}
{% endblock content %}
